body{
    position: absolute;
    width: 100%;
    height: auto;
}

#myVideo{
    
    position: relative ;
    max-width: 100%;
}


.navbar{
    background: transparent;
    
}
.navbar-toggler{
    border: 2px solid #fff;
    margin-right: 5px;
    
}
.navbar:hover, .bgdark{
   background: rgba(0,0,0,0.5);
}
.navbar-brand{
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    
}
.navbar-brand:hover{
    color: #fff;
    font-weight:bold;
    
}
.navbar .btn{
    
    font-size: 14px;
    font-weight: 500;
    font-family: sans-serif;
    letter-spacing: 1px;
    border: 2px solid #fff;
    color: #fff;
    margin: 5px 3px 0;
}

.navbar .btn:hover{
    
    background: rgba(255,255,255,0.5);
    font-weight: 600;
    border:none;
    border: 2px solid #fff;
    
}

.fa {
  padding: 5px;
  font-size: 20px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
    color: #fff;
}

.fa:hover{
    background: rgba(255,255,255,0.5);
    border: 2px solid #fff;
    font-weight: 800;
    text-decoration: none;
    color: #fff;
    

}

.fa-facebook, .fa-twitter, .fa-youtube{
  background: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    
}


.container-fluid{
    padding-top: 6%;
    padding-bottom: 7%;
    width: 100%;
}
.home_content{
    width: 50%;
    height: auto;
    position: absolute;
    margin: 8% 25% 0%;
    top: 3%;
    border:none;
    background: rgba(255,255,255,0.5);
    text-align: center;
    
}

.home_content h1{
    font-size: 50px;
}
.home_content > 
.carousel-item.active{
    
    display:block;
}
.aboutCarousel{
    width: 550px;
    margin-left: 2%;
    margin-right: 2%;
    
}

.carousel img{
    width:100%;
    height: 400px;
}

#contactus{
    
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://lh3.googleusercontent.com/9TZIa1D0b2jjznAGENZm1ZufntBS1Wn_iO0xLXtXnGQsnjXaqTdgTSTB4D1TaBOYm5A-WziY3IceGi8Nh_F9Piyg76UUN-5i2b_v329VgTie5G3s767QnBW18gyi1WQcdocMJdGLig=w2400);
    padding-top: 7%;
    background-size: cover;
    background-position: center;
    color: #fff;
}
.contact-form{
    width: 65%;
    margin: 2% auto 0%;
}
.form-group > .form-control{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    border-radius: 0px;
    color: #fff;
    
}

form > .submit{
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    border: none;
    outline: none;
    letter-spacing: 3px;
}

form > .submit:hover{
    background: rgba(0, 0, 0, 0.5);
    font-weight: bold;
   
    
}
#featureddecorations img{
    width: 280px;
    height: 150px;
    padding-right: 0px;
    margin-bottom: 15px;
    
}

#availableTextures img{
    width: 100%;
    height: 100px;
}

 .tab-content >.tab-pane > .row > .col >.card {
    width:225px; 
    height: auto;
    margin-bottom: 10px;
     text-align: right;
     font-style: italic;
     
}


.slideanim{
    visibility: hidden;    
}
.slide{
    animation-name: slide;
    -webkit-animation-name:slide;
    animation-duration: 1s;
    -webkit-animation-duration:1s;
    visibility: visible;
    
}

@keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);   
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }	
  }
@-webkit-keyframes slide {
    0% {
      opacity: 0;
          -webkit-transform: translateY(70%);
        } 
        100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
}


@media screen and (max-width: 568px) {
    .display-4 {
      font-size: 25px;
        font-weight: bold;
    }
    
    
  }
@media screen and (max-width: 658px) {
    .display-4 {
      font-size: 30px;
        font-weight: bold;
    }
    .aboutCarousel img{
        width: 100%;
        height: 250px;
    }
     .table > thead > tr >th{
        font-size: 11px;
    } 
    
    .contact-form{
        width: 90%;
    }
    .container-fluid{
        padding: 55px 10px 5px;
    }
    #contactus{
        padding: 55px 8px 0px;

    }
    .navbar{
        background: rgba(0,0,0,0.6);
    }
    
    
}
    
    
}
@media screen and (max-width: 600px) {
    #contactus >.display-4 {
        font-size: 25px;
        font-weight: bold;
    }
    
    
}
@media screen and (max-width: 1300px) {
    .home_content > h1 {
        font-size: 35px;
    }
    
    .home_content > h2 , .home_content >
    .carousel >.carousel-inner > 
    .carousel-item >h2{
        font-size: 25px;
    }
    .home_content >.carousel >
    .carousel-inner > 
    .carousel-item >h4{
        font-size: 18px;

    }
    
    .home_content{
        height: 3%;
        top: 3%;
    }

    
}

@media screen and (max-width: 900px) {
     .home_content , .carousel{
        visibility: hidden;
    }

}

